#Game Settings written by com.jme.app.BaseGame$BaseGameSettings at Sun May 23 17:39:38 BST 2010
#Sun May 23 17:39:38 BST 2010
FREQ=-1
WIDTH=640
RENDERER=LWJGL
HEIGHT=480
DEPTH=24
FULLSCREEN=false
